body {
  font-size: 16px;
}
/* 共用區
-------------------------------------------------- */
.wrap {
  padding-top: 4rem;
  font-weight: 700;
  text-align: center;
  h2 {
    font-size: 4rem;
    line-height: 75px;
  }
  .caption {
    font-size: 1.25rem;
    line-height: 35px;
    margin-bottom: 3rem;
  }
  .image-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.5rem;
  }
  img {
    display: block;
  }
  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.container {
  max-width: 1200px;
}
.text-italic {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
.text-normal {
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
}
.text-bold {
  font-weight: 900;
}
.text-white {
  color: $white;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 表頭
-------------------------------------------------- */
.header {
  background: url('../../assets/images/week2/photo-1552393700-42696fb89bfa.png')
    center / cover no-repeat;
  padding: 22.25rem 0 16rem;
  h1 {
    font-size: 5rem;
    line-height: 94px;
    margin-bottom: 2rem;
    small {
      display: block;
      text-align: left;
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }
  p {
    text-align: left;
    font-size: 1.5rem;
    line-height: 42px;
    margin-bottom: 3rem;
  }
  .link-group {
    display: flex;
    justify-content: space-between;
    li {
      margin-left: 1rem;
    }
    a {
      display: block;
      width: 3.75rem;
      height: 3.75rem;
    }
  }
}

/* 關於我
-------------------------------------------------- */
.about {
  padding: 4rem 0 1.5rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
  h2 {
    margin-bottom: 2.5rem;
  }
  img {
    margin-bottom: 1.5rem;
  }
  .about-profile {
    li {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0.75rem;
        line-height: 42px;
      }
    }
  }
  .about-experience {
    padding-top: 2rem;
    border-top: 1px solid $black;
    li {
      padding: 0 1.5rem;
      margin-bottom: 2rem;
      &::before {
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
        background-color: $darkRed;
        border-radius: 50%;
        margin-right: 1rem;
        vertical-align: middle;
      }
    }
  }
}

/* 品牌
-------------------------------------------------- */
.brand {
  background-color: $black;
  padding: 4rem 0;
  h2 {
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
  }
  .caption {
    line-height: 37.33333px;
  }
  .image-group {
    li {
      margin-bottom: 2.5rem;
      &:first-child {
        margin: 0 auto 2.5rem;
      }
    }
  }
}

/* 作品
-------------------------------------------------- */
.works {
  h2 {
    margin-bottom: 1.5rem;
  }
  .caption {
    margin-bottom: 8rem;
  }
  .work-list {
    background: url('../../assets/images/week2/photo-1561291386-5be50364cfb5.png')
      center / cover no-repeat;
    width: 100%;
    padding-bottom: 106px;
  }
  .container {
    margin: 0 auto 3.5rem;
  }
  .image-group {
    &:first-child {
      margin-top: -5rem;
    }
    img {
      margin-bottom: 1rem;
    }
  }
}

/* 頁尾
-------------------------------------------------- */
.footer {
  background-color: $black;
  padding-bottom: 1rem;
  h2 {
    margin-bottom: 1rem;
  }
  .caption {
    li {
      font-size: 1.5rem;
      line-height: 33px;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1200px;
  }
}
