/* 頁首
-------------------------------------------------- */

/* 漢堡選單開關 */
.menu-switch {
  position: absolute;
  opacity: 0;
  z-index: -1;
  &:checked + .header > .menu {
    left: 0;
  }
}

.header {
  background: url('../../assets/images/glasses/mobile/logo-new_工作區域 1.png')
    center / 3rem 29.14px no-repeat $primary;
  position: relative;
  align-items: center;
  padding: 0 1rem;
  @include padStyle {
    padding: 0 3rem;
    background-image: none;
  }
  @include pcStyle {
    padding: 0 5.5rem;
  }
  .hamburger-menu {
    span {
      display: block;
      margin-bottom: 3px;
      width: 22px;
      height: 2px;
      background-color: $white;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  h1 {
    margin: 0 auto;
    text-indent: 101%;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    @include padStyle {
      background: url('../../assets/images/glasses/pad/logo-new_工作區域 1.png')
        center / 5rem 48.57px no-repeat #aa0601;
      margin: 0;
      width: 5rem;
      line-height: 6.75rem;
    }
    @include pcStyle {
      background: url('../../assets/images/glasses/desktop/logo-new_工作區域 1.png')
        center / 5rem 48.57px no-repeat #aa0601;
    }
    a {
      display: block;
    }
  }
  .menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 100%;
    left: -100%;
    transition: all 0.3s;
    background-color: $primary;
    z-index: 1;
    @include padStyle {
      position: relative;
      flex-direction: row;
      width: auto;
      left: auto;
    }
    li {
      border-top: 1px solid $white;
      @include padStyle {
        border: none;
      }
      & + li {
        @include padStyle {
          margin-left: 2.5rem;
        }
        @include pcStyle {
          margin-left: 4rem;
        }
      }
    }
    a {
      display: block;
      padding: 1rem 0;
      text-align: center;
      font-size: 1.25rem;
      line-height: 1.75rem;
      @include padStyle {
        padding: 0;
        font-size: 1.25rem;
        line-height: 6.75rem;
      }
    }
  }
}
