/* header
-------------------------------------------------- */

.banner {
  background: url('../../assets/images/week6/tom-crew-5HRCkrSs9Dk-unsplash.jpg')
    center / cover no-repeat;
  padding-bottom: 24px;
  height: 640px;
}
