/* 全域設定
-------------------------------------------------- */

/* 容器相關 */
.container {
  max-width: 22rem;
  margin: 0 auto;
  @include padStyle {
    max-width: 42rem;
  }
  @include pcStyle {
    max-width: 1200px;
  }
}

/* 內容相關 */
.content-title {
  padding: 1.5rem 0 1rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 33px;
  @include padStyle {
    padding: 2.5rem 0 2rem;
    font-size: 2rem;
    line-height: 45px;
  }
  @include pcStyle {
    padding: 4rem 0 3.75rem;
    font-size: 3rem;
    line-height: 67px;
  }
}

/* 佈局相關 */
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-between {
  justify-content: space-between;
}

/* 文字相關 */
.text-italic {
  font-style: italic;
  font-family: $fontFamilyRoboto;
}
.text-regular {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: 700;
}
.text-black {
  font-weight: 900;
}
.text-white {
  color: $white;
}

/* 解析度相關
  lg：電腦版，md：平板，sm：手機板
*/
.d-sm {
  display: block;
  @include padStyle {
    display: none;
  }
  @include pcStyle {
    display: none;
  }
}
.d-md {
  display: none;
  @include padStyle {
    display: block;
  }
  @include pcStyle {
    display: none;
  }
}
.d-lg {
  display: none;
  @include padStyle {
    display: none;
  }
  @include pcStyle {
    display: block;
  }
}

/* 背景顏色相關 */
.bg-dark-brown {
  @include bgColor($darkBrown);
}

.bg-brown {
  @include bgColor($brown);
}
