// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// color

$white: #fff;
$black: #000;
$gray: #707070;
$pink: #aa06010d;
$red: #aa0601;
$lightGray: #dee2e6;
$darkGray: #212529;
$darkRed: #650300;

$primary: $red !default;

// Typography

$font-family-noto-sans-tc-sans-serif: 'Noto Sans TC', sans-serif;
$font-family-roboto-sans-serif: 'Roboto', sans-serif;
$font-family-base: $font-family-noto-sans-tc-sans-serif !default;
