---
title: 完成結帳
layout: ./app/layouts/week6/layout.ejs
engine: ejs
current: index
---

<main class="done">
  <!-- banner -->
  <section class="banner position-relative pb-4 pb-md-0">
    <div class="container h-100">
      <div class="row align-items-md-center h-100">
        <div class="content col-12 col-md-5 d-flex d-md-block align-items-end">
          <div class="description">
            <h2 class="mb-4 font-weight-bold">
              Well Done!
            </h2>
            <p class="mb-md-7">
              Your order has been received. We’II email you an order
              confirmation with details.
            </p>
          </div>
          <a href="index.html" class="btn btn-primary font-weight-bold">
            Continue shopping
          </a>
        </div>
      </div>
    </div>
    <!-- banner 背景圖 -->
    <div class="banner-image position-absolute"></div>
  </section>
</main>

<script src="../js/week6/done.js"></script>
