---
title: 首頁
layout: ./app/layouts/week6/layout.ejs
engine: ejs
current: index
---

<main class="index">
  <!-- banner -->
  <section class="banner mb-7 mb-md-10 pb-4 pb-md-0">
    <div class="container d-flex h-100">
      <div class="row align-items-end align-items-md-center">
        <div class="col-12">
          <h2 class="mb-4 font-weight-bold">
            <span class="d-md-none">Enjoy Your Minimalist Lifestyle.</span>
            <span class="d-none d-md-block"
              >Enjoy Your <br />
              Minimalist Lifestyle.</span
            >
          </h2>
          <p>
            The best crafts in Taiwan. Get your free <br />
            shipping on the first order.
          </p>
          <button class="btn btn-primary font-weight-bold">
            Shop now
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- 特色 -->
  <section class="features container mb-4">
    <ul>
      <li class="mb-4">
        <img
          src="../assets/images/week6/neven-krcmarek-F1oNsAykHa0-unsplash.jpg"
          alt="introduce"
          class="mb-3"
        />
        <h2 class="mb-3 font-weight-bold">Special Clays</h2>
        <p>
          A general body formulation for contemporary earthenware is 25% kaolin,
          25% ball clay, 35% quartz and 15% feldspar.
        </p>
        <a href="javascript:;" class="font-weight-bold">Learn More</a>
      </li>
      <li class="mb-4">
        <img
          src="../assets/images/week6/anne-nygard-sHyerRuFqT4-unsplash.jpg"
          alt="introduce"
          class="mb-3"
        />
        <h2 class="mb-3 font-weight-bold">Less is more</h2>
        <p>
          Trimming pottery can transform a weighty Earth-bound pot into one that
          is a pleasure to hold, look at, and use.
        </p>
        <a href="javascript:;" class="font-weight-bold">Learn More</a>
      </li>
      <li class="mb-4">
        <img
          src="../assets/images/week6/tom-crew-GOtE6-VOwH0-unsplash.jpg"
          alt="introduce"
          class="mb-3"
        />
        <h2 class="mb-3 font-weight-bold">Marvelous Detail</h2>
        <p>
          In Craftsman, the art director, working with marketers, develops or
          creates an idea of a new creation.
        </p>
        <a href="javascript:;" class="font-weight-bold">Learn More</a>
      </li>
    </ul>
  </section>
  <!-- 指導者 -->
  <section class="director mb-7 py-4">
    <div class="container">
      <h2 class="font-weight-bold text-white">
        “I want to make the <br />
        life more simple by <br />
        crafts.”
      </h2>
      <ul class="mb-0">
        <li class="mb-1">
          <p class="mb-0">Art Director</p>
        </li>
        <li class="director-name mb-3 text-white">
          Hsiao-Ming Chen
        </li>
        <li class="track d-flex align-items-center">
          <a href="javascript:;" class="mr-4 font-weight-bold">Instagram</a>
          <a href="javascript:;" class="font-weight-bold">Twitter</a>
        </li>
      </ul>
    </div>
  </section>
  <!-- 產品 -->
  <section class="product mb-7 slider">
    <div class="container">
      <div class="row flex-nowrap">
        <div class="col-9 flex-shrink-0">
          <div>
            <img
              class="mb-2"
              src="../assets/images/week6/tom-crew-XtyxEBiA8D8-unsplash.jpg"
              alt="product"
              draggable
            />
          </div>
          <h3 class="mb-1 font-weight-bold">Tatami Cup</h3>
          <div class="price d-flex">
            <span class="original mr-2">NT$1,080</span>
            <del class="sale">NT$1,200</del>
          </div>
        </div>
        <div class="col-9 flex-shrink-0">
          <img
            class="mb-2"
            src="../assets/images/week6/tom-crew-7HuTGlUfQSo-unsplash.jpg"
            alt="product"
          />
          <h3 class="mb-1 font-weight-bold">Couple Collection</h3>
          <div class="price d-flex">
            <span class="original mr-2">NT$2,800</span>
          </div>
        </div>
        <div class="col-9 flex-shrink-0">
          <img
            class="mb-2"
            src="../assets/images/week6/tom-crew-8_ldgq801cE-unsplash.jpg"
            alt="product"
          />
          <h3 class="mb-1 font-weight-bold">Brotherhood Vase</h3>
          <div class="price d-flex">
            <span class="original mr-2">NT$4,800</span>
          </div>
        </div>
        <div class="col-9 flex-shrink-0">
          <img
            class="mb-2"
            src="../assets/images/week6/tom-crew-bgIO-u4GEfI-unsplash.jpg"
            alt="product"
          />
          <h3 class="mb-1 font-weight-bold">Baifan Bowl</h3>
          <div class="price d-flex">
            <span class="original mr-2">NT$1,800</span>
            <del class="sale">NT$1,080</del>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
