---
title: 首頁
layout: ./app/layouts/week6/layout.ejs
engine: ejs
current: index
---

<!-- banner -->
<div class="banner mb-7 pb-4">
  <div class="container d-flex h-100">
    <div class="row align-items-end">
      <div class="col-12">
        <h2 class="mb-4 font-weight-bold text-center text-white">
          Enjoy Your Minimalist Lifestyle.
        </h2>
        <p class="text-center">
          The best crafts in Taiwan. Get your free <br />
          shipping on the first order.
        </p>
        <button class="btn btn-primary w-100 font-weight-bold">Shop now</button>
      </div>
    </div>
  </div>
</div>

<!-- 介紹列表 -->
<ul class="introduce-list container mb-4">
  <li class="mb-4">
    <img
      src="../assets/images/week6/neven-krcmarek-F1oNsAykHa0-unsplash.jpg"
      alt="introduce"
      class="mb-3"
    />
    <h2 class="mb-3 font-weight-bold">Special Clays</h2>
    <p>
      A general body formulation for contemporary earthenware is 25% kaolin, 25%
      ball clay, 35% quartz and 15% feldspar.
    </p>
    <a href="javascript:;" class="font-weight-bold">Learn More</a>
  </li>
  <li class="mb-4">
    <img
      src="../assets/images/week6/anne-nygard-sHyerRuFqT4-unsplash.jpg"
      alt="introduce"
      class="mb-3"
    />
    <h2 class="mb-3 font-weight-bold">Less is more</h2>
    <p>
      Trimming pottery can transform a weighty Earth-bound pot into one that is
      a pleasure to hold, look at, and use.
    </p>
    <a href="javascript:;" class="font-weight-bold">Learn More</a>
  </li>
  <li class="mb-4">
    <img
      src="../assets/images/week6/tom-crew-GOtE6-VOwH0-unsplash.jpg"
      alt="introduce"
      class="mb-3"
    />
    <h2 class="mb-3 font-weight-bold">Marvelous Detail</h2>
    <p>
      In Craftsman, the art director, working with marketers, develops or
      creates an idea of a new creation.
    </p>
    <a href="javascript:;" class="font-weight-bold">Learn More</a>
  </li>
</ul>

<!-- 創作者 -->
<div class="director mb-7 py-4">
  <div class="container">
    <h2 class="font-weight-bold text-white">
      “I want to make the <br />
      life more simple by <br />
      crafts.”
    </h2>
    <ul class="mb-0">
      <li class="mb-1">
        <p class="mb-0">Art Director</p>
      </li>
      <li class="director-name mb-3 text-white">
        Hsiao-Ming Chen
      </li>
      <li class="track d-flex align-items-center">
        <a href="javascript:;" class="mr-4 font-weight-bold">Instagram</a>
        <a href="javascript:;" class="font-weight-bold">Twitter</a>
      </li>
    </ul>
  </div>
</div>
