---
title: 首頁
layout: ./app/layouts/week6/layout.ejs
engine: ejs
current: index
---

<main class="index">
  <!-- banner -->
  <section class="banner position-relative mb-7 mb-md-10 pb-4 pb-md-0">
    <div class="container h-100">
      <div class="row align-items-end align-items-md-center h-100">
        <div class="col-12 col-md-5">
          <h2 class="mb-4 font-weight-bold">
            Enjoy Your Minimalist Lifestyle.
          </h2>
          <p class="mb-md-7">
            The best crafts in Taiwan. Get your free shipping on the first
            order.
          </p>
          <button class="btn btn-primary font-weight-bold">
            Shop now
          </button>
        </div>
      </div>
    </div>
    <!-- banner 背景圖 -->
    <div class="banner-image position-absolute d-none d-md-block"></div>
  </section>
  <!-- 特色 -->
  <section class="features container mb-7 mb-md-10">
    <ul class="mb-0">
      <li class="mb-4 mb-md-5">
        <div class="row">
          <div class="col-12 col-md-6 mb-3 mb-md-0">
            <img
              src="../assets/images/week6/neven-krcmarek-F1oNsAykHa0-unsplash.jpg"
              alt="introduce"
            />
          </div>
          <div
            class="col-12 col-md-4 offset-md-1 d-md-flex flex-md-column justify-content-md-center"
          >
            <h2 class="mb-3 font-weight-bold">Special Clays</h2>
            <p class="mb-4">
              A general body formulation for contemporary earthenware is 25%
              kaolin, 25% ball clay, 35% quartz and 15% feldspar.
            </p>
            <a href="javascript:;" class="font-weight-bold">Learn More</a>
          </div>
        </div>
      </li>
      <li class="mb-4 mb-md-5">
        <div class="row flex-md-row-reverse">
          <div class="col-12 col-md-6 offset-md-1 mb-3 mb-md-0">
            <img
              src="../assets/images/week6/anne-nygard-sHyerRuFqT4-unsplash.jpg"
              alt="introduce"
            />
          </div>
          <div
            class="col-12 col-md-4 offset-md-1 d-md-flex flex-md-column justify-content-md-center align-items-md-end"
          >
            <h2 class="mb-3 font-weight-bold">Less is more</h2>
            <p class="mb-4">
              Trimming pottery can transform a weighty Earth-bound pot into one
              that is a pleasure to hold, look at, and use.
            </p>
            <a href="javascript:;" class="font-weight-bold">Learn More</a>
          </div>
        </div>
      </li>
      <li class="mb-md-0">
        <div class="row">
          <div class="col-12 col-md-6 mb-3 mb-md-0">
            <img
              src="../assets/images/week6/tom-crew-GOtE6-VOwH0-unsplash.jpg"
              alt="introduce"
              class="mb-3"
            />
          </div>
          <div
            class="col-12 col-md-4 offset-md-1 d-md-flex flex-md-column justify-content-md-center"
          >
            <h2 class="mb-3 font-weight-bold">Marvelous Detail</h2>
            <p class="mb-4">
              In <span class="font-italic">Craftsman</span>, the art director,
              working with marketers, develops or creates an idea of a new
              creation.
            </p>
            <a href="javascript:;" class="font-weight-bold">Learn More</a>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- 指導者 -->
  <section class="director mb-7 mb-md-10 py-4 py-md-0">
    <div class="container h-100">
      <div
        class="row justify-content-between justify-content-md-start align-items-md-center h-100"
      >
        <div class="col-9 col-md-4">
          <h2 class="mr-md-0 mb-md-0 font-weight-bold text-white">
            “I want to make the life more simple by crafts.”
          </h2>
        </div>
        <div class="col-12 col-md-3 offset-md-5">
          <ul class="mb-0">
            <li class="mb-1">
              <p class="mb-0">Art Director</p>
            </li>
            <li class="director-name mb-3 text-white">
              Hsiao-Ming Chen
            </li>
            <li class="track d-flex align-items-center">
              <a href="javascript:;" class="mr-4 font-weight-bold">Instagram</a>
              <a href="javascript:;" class="font-weight-bold">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- 商品 -->
  <section class="product slider mb-7 mb-md-10">
    <div class="container">
      <div class="row flex-nowrap">
        <div class="col-9 col-md-4 flex-shrink-0">
          <div class="product-card">
            <!-- 商品圖片 -->
            <div class="product-image position-relative mb-2 mr-md-0">
              <img
                src="../assets/images/week6/tom-crew-XtyxEBiA8D8-unsplash.jpg"
                alt="product"
                draggable
              />
              <div
                class="sale-tag position-absolute text-white font-weight-bold"
              >
                On Sale
              </div>
            </div>
            <h3 class="product-name mb-1 font-weight-bold">Tatami Cup</h3>
            <!-- 售價 -->
            <div class="price">
              <!-- 原價 -->
              <span class="original mr-2">NT$1,080</span>
              <!-- 特價 -->
              <del class="sale">NT$1,200</del>
            </div>
          </div>
        </div>
        <div class="col-9 col-md-4 flex-shrink-0">
          <div class="product-card">
            <div class="product-image position-relative mb-2 mr-md-0">
              <img
                src="../assets/images/week6/tom-crew-7HuTGlUfQSo-unsplash.jpg"
                alt="product"
              />
            </div>
            <h3 class="product-name mb-1 font-weight-bold">
              Couple Collection
            </h3>
            <div class="price">
              <span class="original mr-2">NT$2,800</span>
            </div>
          </div>
        </div>
        <div class="col-9 col-md-4 flex-shrink-0">
          <div class="product-card">
            <div class="product-image position-relative mb-2 mr-md-0">
              <img
                src="../assets/images/week6/tom-crew-8_ldgq801cE-unsplash.jpg"
                alt="product"
              />
            </div>
            <h3 class="product-name mb-1 font-weight-bold">Brotherhood Vase</h3>
            <div class="price">
              <span class="original mr-2">NT$4,800</span>
            </div>
          </div>
        </div>
        <div class="col-9 col-md-4 flex-shrink-0">
          <div class="product-card">
            <div class="product-image position-relative mb-2 mr-md-0">
              <img
                src="../assets/images/week6/tom-crew-bgIO-u4GEfI-unsplash.jpg"
                alt="product"
              />
              <div
                class="sale-tag position-absolute text-white font-weight-bold"
              >
                On Sale
              </div>
            </div>
            <h3 class="product-name mb-1 font-weight-bold">Baifan Bowl</h3>
            <div class="price">
              <span class="original mr-2">NT$1,800</span>
              <del class="sale">NT$1,080</del>
            </div>
          </div>
        </div>
        <div class="col-9 col-md-4 flex-shrink-0">
          <div class="product-card">
            <div class="product-image position-relative mb-2 mr-md-0">
              <img
                src="../assets/images/week6/tom-crew-XtyxEBiA8D8-unsplash.jpg"
                alt="product"
                draggable
              />
              <div
                class="sale-tag position-absolute text-white font-weight-bold"
              >
                On Sale
              </div>
            </div>
            <h3 class="product-name mb-1 font-weight-bold">Tatami Cup</h3>
            <div class="price">
              <span class="original mr-2">NT$1,080</span>
              <del class="sale">NT$1,200</del>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
