---
title: 商品
layout: ./app/layouts/week6/layout.ejs
engine: ejs
current: index
---

<main class="product">
  <!-- 商品選單 -->
  <div class="menu mb-4 mb-md-7">
    <div class="container">
      <ul class="d-flex mb-0">
        <li class="mr-4 mr-md-6">
          <a href="product.html" class="d-block py-3 py-md-4 active"
            >All<sup>24</sup></a
          >
        </li>
        <li class="mr-4 mr-md-6">
          <a href="product.html" class="d-block py-3 py-md-4"
            >Bowl<sup>10</sup></a
          >
        </li>
        <li class="mr-4 mr-md-6">
          <a href="product.html" class="d-block py-3 py-md-4"
            >Cup<sup>8</sup></a
          >
        </li>
        <li class="mr-4 mr-md-6">
          <a href="product.html" class="d-block py-3 py-md-4"
            >Plate<sup>3</sup></a
          >
        </li>
        <li>
          <a href="product.html" class="d-block py-3 py-md-4"
            >Vase<sup>3</sup></a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- 商品列表 -->
  <div class="product-list">
    <div class="container">
      <div class="card">
        <img
          src="../assets/images/week6/tom-crew-XtyxEBiA8D8-unsplash.jpg"
          class="card-img-top"
          alt="product"
        />
        <div class="card-body">
          <h5 class="card-title">Tatami Cup</h5>
          <p class="card-text">
            <span>NT$1,080</span>
            <del>NT$1,200</del>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../assets/images/week6/tom-crew-oiZAQvxTcYQ-unsplash.jpg"
          class="card-img-top"
          alt="product"
        />
        <div class="card-body">
          <h5 class="card-title">Limdae Cup</h5>
          <p class="card-text">
            <span>NT$2,400</span>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../assets/images/week6/tom-crew-vu0lyZYeseY-unsplash.jpg"
          class="card-img-top"
          alt="product"
        />
        <div class="card-body">
          <h5 class="card-title">Kabi Mug</h5>
          <p class="card-text">
            <span>NT$980</span>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../assets/images/week6/tom-crew-iUFS1GCpEbk-unsplash.jpg"
          class="card-img-top"
          alt="product"
        />
        <div class="card-body">
          <h5 class="card-title">Hana Vase</h5>
          <p class="card-text">
            <span>NT$3,600</span>.
            <del>NT$3,880</del>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="../js/week6/product.js"></script>
