---
title: 商品
layout: ./app/layouts/week6/layout.ejs
engine: ejs
current: index
---

<main class="product">
  <!-- 商品類別選單 -->
  <div class="menu mb-4 mb-md-7">
    <div class="container">
      <ul class="d-flex mb-0">
        <li class="mr-4 mr-md-6">
          <a href="product.html" class="d-block py-3 py-md-4 active"
            >All<sup>24</sup></a
          >
        </li>
        <li class="mr-4 mr-md-6">
          <a href="product.html" class="d-block py-3 py-md-4"
            >Bowl<sup>10</sup></a
          >
        </li>
        <li class="mr-4 mr-md-6">
          <a href="product.html" class="d-block py-3 py-md-4"
            >Cup<sup>8</sup></a
          >
        </li>
        <li class="mr-4 mr-md-6">
          <a href="product.html" class="d-block py-3 py-md-4"
            >Plate<sup>3</sup></a
          >
        </li>
        <li>
          <a href="product.html" class="d-block py-3 py-md-4"
            >Vase<sup>3</sup></a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- 商品列表 -->
  <div class="product-list mb-7 mb-md-10">
    <div class="container">
      <div class="card-columns d-flex flex-wrap d-md-block">
        <div
          class="product-card mb-4 mb-md-7 mr-2 mr-md-0 order-1"
          @click="viewProductDetail"
        >
          <div class="product-image position-relative mb-2">
            <img
              src="../assets/images/week6/tom-crew-XtyxEBiA8D8-unsplash.jpg"
              class="h-350"
              alt="product"
            />
            <div class="sale-tag position-absolute text-white font-weight-bold">
              On Sale
            </div>
          </div>
          <h3 class="product-name mb-1 font-weight-bold">Tatami Cup</h3>
          <div class="price">
            <span class="original mr-2">NT$1,080</span>
            <del class="sale">NT$1,200</del>
          </div>
        </div>
        <div class="product-card mb-4 mb-md-7 order-4">
          <div class="product-image position-relative mb-2">
            <img
              src="../assets/images/week6/tom-crew-oiZAQvxTcYQ-unsplash.jpg"
              class="w-100 h-240"
              alt="product"
            />
          </div>
          <h3 class="product-name mb-1 font-weight-bold">Limdae Cup</h3>
          <div class="price">
            <span class="original mr-2">NT$2,400</span>
          </div>
        </div>
        <div class="product-card mr-2 mr-md-0 order-7">
          <div class="product-image position-relative mb-2">
            <img
              src="../assets/images/week6/tom-crew-vu0lyZYeseY-unsplash.jpg"
              class="h-480"
              alt="product"
            />
          </div>
          <h3 class="product-name mb-1 font-weight-bold">Kabi Mug</h3>
          <div class="price">
            <span class="original mr-2">NT$980</span>
          </div>
        </div>
        <div class="product-card mb-4 mb-md-7 order-2">
          <div class="product-image position-relative mb-2">
            <img
              src="../assets/images/week6/tom-crew-iUFS1GCpEbk-unsplash.jpg"
              class="h-480"
              alt="product"
            />
            <div class="sale-tag position-absolute text-white font-weight-bold">
              On Sale
            </div>
          </div>
          <h3 class="product-name mb-1 font-weight-bold">Hana Vase</h3>
          <div class="price">
            <span class="original mr-2">NT$3,600</span>
            <del class="sale">NT$3,880</del>
          </div>
        </div>
        <div class="product-card mb-4 mb-md-7 mr-2 mr-md-0 order-6">
          <div class="product-image position-relative mb-2">
            <img
              src="../assets/images/week6/tom-crew-8_ldgq801cE-unsplash.jpg"
              class="h-350"
              alt="product"
            />
          </div>
          <h3 class="product-name mb-1 font-weight-bold">Sumo Vase</h3>
          <div class="price">
            <span class="original mr-2">NT$4,800</span>
          </div>
        </div>
        <div class="product-card order-8">
          <div class="product-image position-relative mb-2">
            <img
              src="../assets/images/week6/tom-crew-YA2E3d7a9Wo-unsplash.jpg"
              class="w-100 h-240"
              alt="product"
            />
          </div>
          <h3 class="product-name mb-1 font-weight-bold">Shiro Plate</h3>
          <div class="price">
            <span class="original mr-2">NT$1,200</span>
          </div>
        </div>
        <div class="product-card mb-4 mb-md-7 mr-2 mr-md-0 order-3">
          <div class="product-image position-relative mb-2">
            <img
              src="../assets/images/week6/tom-crew-bgIO-u4GEfI-unsplash.jpg"
              class="w-100 h-240"
              alt="product"
            />
            <div class="sale-tag position-absolute text-white font-weight-bold">
              On Sale
            </div>
          </div>
          <h3 class="product-name mb-1 font-weight-bold">Baifan Bowl</h3>
          <div class="price">
            <span class="original mr-2">NT$1,800</span>
            <del class="sale">NT$1,980</del>
          </div>
        </div>
        <div class="product-card mb-4 mb-md-7 order-6">
          <div class="product-image position-relative mb-2">
            <img
              src="../assets/images/week6/tom-crew-fZTNZ-7-ong-unsplash.jpg"
              class="h-480"
              alt="product"
            />
          </div>
          <h3 class="product-name mb-1 font-weight-bold">Ceramic Vase</h3>
          <div class="price">
            <span class="original mr-2">NT$3,600</span>
          </div>
        </div>
        <div class="product-card d-none d-md-block">
          <div class="product-image position-relative mb-2">
            <img
              src="../assets/images/week6/tom-crew-7HuTGlUfQSo-unsplash.jpg"
              class="h-350"
              alt="product"
            />
          </div>
          <h3 class="product-name mb-1 font-weight-bold">
            Couple Collection
          </h3>
          <div class="price">
            <span class="original mr-2">NT$2,800</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 頁碼 -->
  <div class="page mb-7 mb-md-10">
    <div class="container">
      <ul class="row">
        <li class="col-12 text-center">
          <a href="javascript:;" class="active mr-5">1</a>
          <a href="javascript:;" class="mr-5">2</a>
          <a href="javascript:;">3</a>
        </li>
      </ul>
    </div>
  </div>
</main>

<script src="../js/week6/product.js"></script>
