<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="../style/glasses/all.css" />
  </head>
  <body>
    <input type="checkbox" id="menu-switch" class="menu-switch" />
    <!-- header -->
    <header class="header d-flex flex-between text-white">
      <label for="menu-switch" class="hamburger-menu d-sm">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
      </label>
      <h1 class="logo">
        <a href="index.html">眼鏡官網</a>
      </h1>
      <ul class="menu d-flex">
        <li>
          <a href="optical.html" class="text-regular text-white">系列鏡框</a>
        </li>
        <li>
          <a href="javascript:;" class="text-regular text-white">門市據點</a>
        </li>
        <li>
          <a href="javascript:;" class="text-regular text-white">部落格</a>
        </li>
        <li>
          <a href="issue.html" class="text-regular text-white">常見問題</a>
        </li>
      </ul>
    </header>

    <%- contents %>

    <!-- footer -->
    <footer class="footer text-regular text-white">
      <div class="container">
        <div class="footer-contact-list d-flex flex-between">
          <div class="footer-contact-left">
            <ul class="menu d-md d-lg">
              <li><a href="index.html" class="text-white">首頁</a></li>
              <li><a href="optical.html" class="text-white">系列鏡框</a></li>
              <li><a href="javascript:;" class="text-white">門市據點</a></li>
              <li><a href="javascript:;" class="text-white">部落格</a></li>
              <li><a href="issue.html" class="text-white">常見問題</a></li>
            </ul>
            <ul class="contact-list">
              <li class="d-flex">
                <img
                  class="d-sm"
                  src="../assets/images/glasses/mobile/ic_phone_48px.svg"
                  alt="phone"
                />
                <img
                  class="d-md"
                  src="../assets/images/glasses/pad/ic_phone_48px.svg"
                  alt="phone"
                />
                <img
                  class="d-lg"
                  src="../assets/images/glasses/desktop/ic_phone_48px.svg"
                  alt="phone"
                />
                0800-000-000
              </li>
              <li class="d-flex">
                <img
                  class="d-sm"
                  src="../assets/images/glasses/mobile/ic_mail_outline_24px.svg"
                  alt="email"
                />
                <img
                  class="d-md"
                  src="../assets/images/glasses/pad/ic_mail_outline_24px.svg"
                  alt="email"
                />
                <img
                  class="d-lg"
                  src="../assets/images/glasses/desktop/ic_mail_outline_24px.svg"
                  alt="email"
                />
                glasses@business.com
              </li>
            </ul>
          </div>
          <ul class="footer-contact-right d-flex">
            <li>
              <a href="javascript:;">
                <img
                  class="d-sm"
                  src="../assets/images/glasses/mobile/ic_social_fb.svg"
                  alt="facebook"
                />
                <img
                  class="d-md"
                  src="../assets/images/glasses/pad/ic_social_fb.svg"
                  alt="facebook"
                />
                <img
                  class="d-lg"
                  src="../assets/images/glasses/desktop/ic_social_fb.svg"
                  alt="facebook"
                />
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <img
                  class="d-sm"
                  src="../assets/images/glasses/mobile/ic_social_ig.svg"
                  alt="instagram"
                />
                <img
                  class="d-md"
                  src="../assets/images/glasses/pad/ic_social_ig.svg"
                  alt="instagram"
                />
                <img
                  class="d-lg"
                  src="../assets/images/glasses/desktop/ic_social_ig.svg"
                  alt="instagram"
                />
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <img
                  class="d-sm"
                  src="../assets/images/glasses/mobile/ic_social_line.svg"
                  alt="line"
                />
                <img
                  class="d-md"
                  src="../assets/images/glasses/pad/ic_social_line.svg"
                  alt="line"
                />
                <img
                  class="d-lg"
                  src="../assets/images/glasses/desktop/ic_social_line.svg"
                  alt="line"
                />
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-list d-flex">
          <p class="copyright">
            Copyright © 2020 Glasses.All rights reserved.
          </p>
          <ul class="policy d-flex">
            <li>
              <a href="javascript:;" class="text-white">隱私權政策</a>
            </li>
            <li>
              <a href="javascript:;" class="text-white">服務條款</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
