/* 首頁
-------------------------------------------------- */

.index {
  // banner
  .banner {
    background: url('../../assets/images/week6/tom-crew-5HRCkrSs9Dk-unsplash.jpg')
      center / cover no-repeat;
    margin-top: -60px;
    height: 640px;
    @include media-breakpoint-up(md) {
      background: linear-gradient(
          90deg,
          $white calc(50% + 15px),
          transparent calc(50% - 15px)
        ),
        url('../../assets/images/week6/tom-crew-5HRCkrSs9Dk-unsplash@1x.jpg')
          center / cover no-repeat;
      margin-top: -76px;
      height: 800px;
    }
    h2 {
      font-size: 3rem;
      line-height: 4rem;
      text-align: center;
      color: $white;
      @include media-breakpoint-up(md) {
        text-align: left;
        color: $black;
      }
    }
    p {
      margin-bottom: 108px;
      line-height: $line-height-base;
      text-align: center;
      color: $custom-gray-200;
      @include media-breakpoint-up(md) {
        font-size: $h1-font-size;
        line-height: 36px;
        text-align: left;
        color: $custom-gray-500;
      }
    }
    button {
      padding-top: 18px;
      padding-bottom: 18px;
      width: 100%;
      line-height: $headings-line-height;
      @include media-breakpoint-up(md) {
        padding: 18px 45px;
        width: auto;
      }
    }
  }

  // 特色
  .features {
    li:nth-child(even) {
      p {
        text-align: left;
        @include media-breakpoint-up(md) {
          text-align: right;
        }
      }
    }
    h2 {
      line-height: 28px;
    }
    p {
      line-height: $line-height-base;
      color: $custom-gray-500;
    }
    a {
      line-height: $headings-line-height;
    }
  }

  // 指導者
  .director {
    background: url('../../assets/images/week6/burningparrot-u2Xn5Bzvllw-unsplash.jpg')
      center / cover no-repeat;
    @include media-breakpoint-up(md) {
      height: 400px;
    }
    h2 {
      margin-right: -30px;
      margin-bottom: 125px;
      line-height: 3rem;
    }
    p {
      color: $custom-gray-200;
      line-height: $headings-line-height;
    }
    .director-name {
      font-size: $h1-font-size;
      line-height: 28px;
    }
    a {
      font-size: 14px;
      line-height: 1rem;
    }
  }

  // 產品
  .product {
    overflow-x: auto;
    cursor: grabbing;
    &::-webkit-scrollbar {
      display: none;
    }
    h3 {
      font-size: $h1-font-size;
      line-height: 28px;
      color: $black;
    }
    .product-image {
      margin-right: -15px;
      img {
        min-height: 240px;
        @include media-breakpoint-up(md) {
          min-height: 350px;
        }
      }
    }
    .price {
      .original,
      .sale {
        line-height: $headings-line-height;
        color: $black;
      }
      .sale {
        color: $custom-gray-400;
      }
    }
  }
}
