/* Assignment
-------------------------------------------------- */

.assignment {
  .comment-count {
    font-size: 12px;
    line-height: 15px;
    color: $custom-gray-200;
  }
  // 章節標題、經過時間、留言者姓名
  .chapter-title,
  .time,
  .name {
    font-size: 12px;
    line-height: 15px;
  }
  // 留言標題
  .message-title {
    line-height: 19px;
  }
  .name {
    color: $custom-gray-300;
  }

  // 留言標題列
  .caption-list {
    flex: 0 0 34.78%;
    li {
      border: 1px solid $custom-green;
      border-top: none;
      padding: 12px;
      cursor: pointer;
      &:first-child {
        border-top: 1px solid $custom-green;
      }
      &.active {
        background-color: $primary;
      }
      > div {
        width: 50%;
      }
    }
  }

  // 留言內容
  .comment {
    overflow: hidden;
    .title {
      padding: 12px 1rem;
      background-color: $primary;
      border: 1px solid $custom-green;
      border-bottom: none;
      .more {
        color: $black;
      }
    }
    .comment-list {
      padding: 17px 2rem 22px 1rem;
      border: 1px solid $custom-green;
      li {
        margin-bottom: 17.5px;
        &:last-child {
          margin-bottom: 0;
          .comment-content {
            border-bottom: none;
          }
        }
      }
    }
    .name {
      font-size: 1rem;
      line-height: 19px;
      color: $black;
    }
    .time {
      color: $custom-gray-300;
    }
    // 使用者
    .user {
      .avatar {
        background-image: url('../../assets/images/week5/icons8-team-6LZuSzSwso0-unsplash.jpg');
      }
    }
    // 管理者
    .manager {
      .avatar {
        background-image: url('../../assets/images/week5/milan-popovic-kOnmHdLJTNI-unsplash.jpg');
      }
    }
    .comment-content {
      border-bottom: 1px solid $custom-green;
      .tools {
        a {
          color: $black;
          & + a {
            margin-left: 24px;
          }
        }
      }
      .message {
        font-size: 14px;
        line-height: 21px;
      }
      code {
        padding: 0 0.25rem;
        font-size: 14px;
        line-height: 21px;
        background-color: $primary;
        color: $secondary;
      }
    }
    .comment-tool {
      a {
        margin-right: 23px;
        color: $black;
      }
      .btn {
        padding: 8px 32px;
        &:hover {
          background-color: $primary;
          color: $secondary;
        }
      }
      .read {
        color: $secondary;
        border-color: $secondary;
      }
    }
  }
  // 管理者回覆區
  .manager-reply {
    left: 110%;
    right: 0;
    bottom: -100%;
    border: 1px solid $custom-green;
    z-index: 1;
    transition: all 0.3s;
    &.show {
      left: 0;
      bottom: 0;
    }
    .title {
      padding: 18px 25px;
      border: none;
      border-bottom: 1px solid $custom-green;
      .dropdown {
        margin-right: 11px;
      }
      > a {
        margin-right: 24px;
        color: $black;
        &:first-child {
          margin-right: 11px;
        }
        &::after {
          margin-left: 0.5rem;
          vertical-align: middle;
        }
        &:not([data-toggle='dropdown']) {
          line-height: 0;
        }
      }
    }
    .reply-content {
      padding: 1rem 24px;
      background-color: $white;
      textarea {
        border: none;
        resize: none;
      }
    }
  }
}
