/* 下拉選單
-------------------------------------------------- */

.custom-dropdown {
  .dropdown-toggle {
    position: relative;
    line-height: 19px;
    color: $black;
    &::after {
      display: none;
    }
    .material-icons {
      position: absolute;
      color: $secondary;
      right: -19px;
    }
  }
}
