/* 全站設定
-------------------------------------------------- */

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

label {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}
