/* 工具類
-------------------------------------------------- */

// icon
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  vertical-align: bottom;
  cursor: pointer;
}

.h1 {
  font-family: $font-family-raleway;
  a {
    line-height: 28px;
    color: $white;
    @include media-breakpoint-up(md) {
      color: $custom-gray-600;
    }
  }
}

// 畫面的活躍狀態
.active {
  color: $primary !important;
  font-weight: 700;
}

// 滑動的活躍狀態
.slider-active {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1);
}
