/* 變數
-------------------------------------------------- */

// color
$primary: #0e8a00;
// $secondary: #2a8356;
$custom-gray-100: #ffffffde;
$custom-gray-200: #ffffff99;
$custom-gray-300: #ffffff00;
$custom-gray-400: #00000062;
$custom-gray-500: #0000009a;
$custom-gray-600: #121212;
