<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>履歷設計</title>
    <link rel="stylesheet" href="../style/weak1/all.css" />
  </head>
  <body>
    <div class="wrap">
      <h1 class="header">
        Joanne
        <br />
        Chen
      </h1>
      <div class="profile content">
        <img src="../assets/images/weak1/photo.png" alt="profile-photo" />
        <h2>個人資料<small>PROFILE</small></h2>
        <ul class="no-last-line">
          <li>
            <p>
              陳久安 Joanne Chen
              <br />
              1997-
              <br />
              應屆畢業生／接案設計師／UI 設計實習生
            </p>
            <p>
              UI 設計修行中／立志當斜槓青年
              <br />
              獨立接案，內容涵蓋：
              <br />
              品牌規劃、視覺設計、編輯設計、標準字、物件及印刷品設計等。
            </p>
          </li>
        </ul>
      </div>
      <div class="education content">
        <h2>學歷<small>EDUCATION</small></h2>
        <ul class="no-last-line">
          <li>
            <p>國立六角師範大學 視覺設計學系 學士學位 | 2016－2020</p>
          </li>
          <li>
            <p>國立六腳高級中學 美術班 | 2013－2016</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="skill">
      <div class="wrap">
        <div class="content">
          <h2>技能<small>SKILLS</small></h2>
          <ul class="no-circle">
            <li>
              Adobe Photoshop
            </li>
            <li>
              Adobe Illustrator
            </li>
            <li>
              Adobe XD
            </li>
            <li>
              Adobe Indesign
            </li>
            <li>
              C4D
            </li>
            <li>
              Adobe Premiere
            </li>
            <li>
              語言：中文、英文
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="work content">
        <h2>工作經驗<small>WORK EXPERIENCE</small></h2>
        <ul class="no-circle">
          <li>
            <h4>六角學院 視覺設計實習生 | 2019/07－2020/06</h4>
            <img
              src="../assets/images/weak1/Group 1.svg"
              alt="hexschool"
              width="66"
              height="52"
            />
            <p>
              在六角學院長達一年的實習中，前期藉由公司課程掌握 HTML, CSS, Adobe
              XD，設計給學員使用的名片設計教材，並參與六角週年活動，設
              計各式周邊商品及活動網路宣傳圖。後期進入UI 設計範疇，設計六角共
              筆部落格 - W3HexSchool、六角發案服務網介面設計、供給學員的教 案 -
              RWD官方網站設計，並設計各式網頁活動宣傳圖。
            </p>
          </li>
          <li>
            <h4>獨立接案 Hao Jun 酒標設計 | 2019</h4>
          </li>
          <li>
            <h4>獨立接案 Exulans 酒標設計 | 2019</h4>
          </li>
          <li>
            <h4>獨立接案 桃園平鎮市民健走活動提案 | 2019</h4>
          </li>
          <li>
            <h4>Simtree 興趣咖啡 工讀生 | 2018－2019</h4>
            <img
              src="../assets/images/weak1/simtree.png"
              alt="simtree"
              width="55"
              height="56"
            />
            <p>擔任外場及吧台服務生，學習咖啡相關知識。</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="contact">
      <div class="wrap">
        <div class="content">
          <h2>聯絡方式<small>CONTACT METHOD</small></h2>
          <ul class="no-circle no-line">
            <li>Mail：xxxd@hexschool.com</li>
            <li>Phone：0910123456</li>
            <li>Kaohsiung, Taiwan</li>
            <li>作品連結：https://www.behance.net/xxxdddddd</li>
            <li class="link-group">
              <a href="javascript:;">
                <img src="../assets/images/weak1/facebook.svg" alt="facebook" />
              </a>
              <a href="javascript:;">
                <img
                  src="../assets/images/weak1/instagram-alt.svg"
                  alt="instagram"
                />
              </a>
              <a href="javascript:;">
                <img src="../assets/images/weak1/line.svg" alt="line" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
