/* 系列鏡框的頁碼
-------------------------------------------------- */

.pagination {
  margin-bottom: 3.5rem;
  @include padStyle {
    margin-bottom: 6.5rem;
  }
  @include pcStyle {
    margin-bottom: 156px;
  }
  a {
    color: $gray-600;
    border: solid $gray-600;
    border-width: 1px 0 1px 1px;
  }
  .previous,
  .next {
    padding: 8px 8px 7px 9px;
    font-size: 12px;
    line-height: 17px;
    @include padStyle {
      padding: 10px 15px 12px 9px;
      font-size: 19px;
      line-height: 26px;
    }
  }
  .next {
    border-right: 1px solid $gray-600;
    background-color: $gray-100;
  }
  li {
    a {
      display: block;
      padding: 8px 10px 9px 11px;
      font-size: 11px;
      line-height: 15px;
      @include padStyle {
        padding: 10px 1rem 14px 1rem;
        font-size: 18px;
        line-height: 1.5rem;
      }
      &.active {
        background-color: $black;
        color: $white;
      }
    }
  }
}
