<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/week6/all.css" />
  </head>
  <body>
    <!-- 頁首 -->
    <header class="checkout-header py-3 py-md-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h1 mb-0">
              <a href="index.html" class="d-block">
                Craftsman
              </a>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <%- contents %>

    <!-- 頁尾 -->
    <footer class="checkout-footer py-3 py-md-2">
      <div class="container">
        <ul class="d-md-flex align-items-md-center mb-0">
          <li class="mb-3 mb-md-0 mr-md-4">
            <a href="javascript:;" class="d-block">Purchase Policy</a>
          </li>
          <li class="mb-3 mb-md-0 mr-md-4">
            <a href="javascript:;" class="d-block">Privacy Policy</a>
          </li>
          <li><a href="javascript:;" class="d-block">Terms & Conditions</a></li>
        </ul>
      </div>
    </footer>

    <script src="../js/vendors.js"></script>
    <script src="../js/week6/all.js"></script>
  </body>
</html>
