<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/week6/all.css" />
  </head>

  <body>
    <!-- 頁首 -->
    <header class="header position-relative py-3 py-md-4">
      <div class="container">
        <div class="row align-items-center">
          <!-- 漢堡選單 -->
          <div class="col d-md-none">
            <label for="navbarToggle" class="navbar-toggle">
              <i class="material-icons">dehaze</i>
            </label>
          </div>
          <!-- logo -->
          <div class="col col-md-6">
            <h1 class="h1 mb-0">
              <a href="index.html" class="d-block">
                Craftsman
              </a>
            </h1>
          </div>
          <!-- 購物車圖示-->
          <div class="shopping-cart col d-md-none" data-toggle="modal" data-target="#cartModal">
            <i class="material-icons">shopping_cart</i>
          </div>
          <!-- 導覽選單 -->
          <div class="col-md-6">
            <input
              type="checkbox"
              id="navbarToggle"
              class="checkbox-navbar-toggle position-absolute"
            />
            <div class="navbar-menu pt-3 pt-md-0">
              <div class="container">
                <div class="row mb-3 d-md-none">
                  <!-- 返回圖示 -->
                  <div class="col">
                    <label for="navbarToggle">
                      <i class="material-icons">arrow_back</i>
                    </label>
                  </div>
                  <!-- 購物車圖示 -->
                  <div class="col text-right" data-toggle="modal" data-target="#cartModal">
                    <i class="material-icons">shopping_cart</i>
                  </div>
                </div>
                <!-- 導覽列表 -->
                <ul class="menu-list d-md-flex justify-content-md-end align-items-md-center mb-md-0">
                  <li>
                    <input
                      type="checkbox"
                      id="navbarMenuProduct"
                      class="checkbox-navbar-product position-absolute"
                      checked
                    />
                    <a href="product.html" class="title d-none d-md-block" data-navbar-menu="product">
                      Product
                    </a>
                    <label
                      for="navbarMenuProduct"
                      class="title d-flex d-md-none justify-content-between py-3 py-md-0"
                      data-navbar-menu="product"
                    >
                      Product
                      <i class="material-icons d-md-none">keyboard_arrow_down</i>
                    </label>
                    <!-- 產品類別列表 -->
                    <ul class="product-list d-md-none">
                      <li>
                        <a href="product.html" class="d-block pt-3"
                        data-navbar-product-list="all"
                          >All<sup>24</sup></a
                        >
                      </li>
                      <li>
                        <a href="product.html" class="d-block pt-3"
                        data-navbar-product-list="bowl"
                          >Bowl<sup>10</sup></a
                        >
                      </li>
                      <li>
                        <a href="product.html" class="d-block pt-3"
                        data-navbar-product-list="cup"
                          >Cup<sup>8</sup></a
                        >
                      </li>
                      <li>
                        <a href="product.html" class="d-block pt-3"
                        data-navbar-product-list="plate"
                          >Plate<sup>3</sup></a
                        >
                      </li>
                      <li>
                        <a href="product.html" class="d-block py-3"
                        data-navbar-product-list="vase"
                          >Vase<sup>3</sup></a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="ml-md-7"><a href="javascript:;" class="title d-block py-3 py-md-0" data-navbar-menu="blog">Blog</a></li>
                  <li class="ml-md-7">
                    <a href="javascript:;" class="title d-block py-3 py-md-0" data-navbar-menu="contact">Contact</a>
                  </li>
                  <li class="d-none d-md-block ml-md-7 text-white" data-toggle="modal" data-target="#cartModal">
                    <i class="material-icons">shopping_cart</i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <%- contents %>

    <!-- 頁尾 -->
    <footer class="footer">
      <!-- 訂閱區塊 -->
      <div class="subscribe">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-5">
              <p class="text-white font-weight-bold mb-4 mb-md-7">
                Subscribe for news <br> and special offers!
              </p>
              <form class="position-relative" action="javascript:;" method="post">
                <input
                  type="email"
                  class="form-control w-100 bg-transparent font-weight-bold"
                  id="subscribeEmail"
                  aria-describedby="emailHelp"
                  placeholder="Your email address"
                />
                <input type="submit" class="btn btn-primary font-weight-bold" value="Subscribe"></input>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 列表區塊 -->
      <div class="footer-list py-4 py-md-5">
        <div class="container align-items-md-center">
          <div class="row">
            <div class="col-12 col-md-4 d-md-flex align-items-md-center mb-7 mb-md-0">
              <a href="index.html" class="d-block h1 mb-0 mr-md-3 text-white">
                Craftsman
              </a>
              <div class="copyright d-none d-md-block">
                © 2020. All Rights Reserved.
              </div>
            </div>
            <div class="col-12 col-md-5 offset-md-3">
              <!-- 聲明 -->
              <ul class="statement d-md-flex justify-content-md-end align-items-md-center mb-7 mb-md-0">
                <li class="mb-3 mb-md-0 mr-md-7"><a href="javascript:;" class="d-block">Purchase Policy</a></li>
                <li class="mb-3 mb-md-0 mr-md-7"><a href="javascript:;" class="d-block">Privacy Policy</a></li>
                <li><a href="javascript:;" class="d-block">Terms & Conditions</a></li>
              </ul>
              <div class="copyright d-md-none">
                © 2020. All Rights Reserved.
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- 購物車 modal -->
    <div class="cart-modal modal fade pr-md-0" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
      <div class="modal-dialog mt-md-0 mr-md-0" role="document">
        <div class="modal-content">
          <div class="modal-header pb-0 border-bottom-0">
            <h5 class="modal-title font-weight-bold" id="cartModalLabel">
              Cart List
              <sup class="font-weight-bold">3</sup>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="material-icons" aria-hidden="true">close</i>
            </button>
          </div>
          <div class="modal-body flex-md-grow-0 py-0">
            <!-- 商品列表 -->
            <ul class="product-list mb-4">
              <li class="mb-2 d-flex">
                <div class="product-image">
                  <img src="../assets/images/week6/tom-crew-XtyxEBiA8D8-unsplash.jpg" alt="product">
                </div>
                <div class="product flex-grow-1 p-2 p-md-3">
                  <!-- 商品名稱 -->
                  <div class="product-name d-flex justify-content-between align-items-center font-weight-bold">
                    Tatami Cup
                    <i class="material-icons" aria-hidden="true">close</i>
                  </div>
                  <!-- 售價 -->
                  <div class="price mb-2">
                    <span class="sale mr-2">NT$1,080</span>
                    <del class="original">NT$1,200</del>
                  </div>
                  <div class="d-flex justify-content-between align-items-center font-weight-bold">
                    <!-- 數量 -->
                    <div class="quantity d-flex align-items-center">
                      <button class="sub btn border-0 p-0">
                        <i class="material-icons">remove</i>
                      </button>
                      <input
                        type="number"
                        min="1"
                        max="99"
                        value="1"
                        class="text-center border-0"
                      />
                      <button class="add btn border-0 p-0">
                        <i class="material-icons">add</i>
                      </button>
                    </div>
                    <!-- 商品小計 -->
                    <div class="product-subtotal">
                      NT$1,080
                    </div>
                  </div>
                </div>
              </li>
              <li class="d-flex">
                <div class="product-image">
                  <img src="../assets/images/week6/tom-crew-bgIO-u4GEfI-unsplash.jpg" alt="product">
                </div>
                <div class="product flex-grow-1 p-2 p-md-3">
                  <!-- 商品名稱 -->
                  <div class="product-name d-flex justify-content-between align-items-center font-weight-bold">
                    Baifan Bowl
                    <i class="material-icons" aria-hidden="true">close</i>
                  </div>
                  <!-- 售價 -->
                  <div class="price mb-2">
                    <span class="sale mr-2">NT$1,800</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center font-weight-bold">
                    <!-- 數量 -->
                    <div class="quantity d-flex align-items-center">
                      <button class="sub btn border-0 p-0">
                        <i class="material-icons">remove</i>
                      </button>
                      <input
                        type="number"
                        min="1"
                        max="99"
                        value="2"
                        class="text-center border-0"
                      />
                      <button class="add btn border-0 p-0">
                        <i class="material-icons">add</i>
                      </button>
                    </div>
                    <!-- 商品小計 -->
                    <div class="product-subtotal">
                      NT$3,600
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <!-- 金額加總 -->
            <div class="amount-sum mb-md-4">
              <div class="subtotal d-flex justify-content-between align-items-center mb-3">
                <div class="title">Subtotal</div>
                NT$4,680
              </div>
              <div class="shipping d-flex justify-content-between align-items-center mb-4">
                <div class="title">Shipping</div>
                NT$80
              </div>
              <div class="total d-flex justify-content-between align-items-center font-weight-bold">
                <div class="title">Total</div>
                NT$4,760
              </div>
            </div>
          </div>
          <div class="modal-footer pt-0 border-top-0">
            <a href="information.html" class="btn btn-primary font-weight-bold">Checkout</a>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/vendors.js"></script>
    <script src="../js/week6/all.js"></script>
  </body>
</html>
