<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/week6/all.css" />
  </head>

  <body>
    <!-- banner -->
    <div class="banner container-fluid pt-3">
      <header class="header text-white">
        <input type="checkbox" id="navbarToggle" class="position-absolute">
        <div class="row no-gutters">
          <div class="col">
            <label for="navbarToggle" class="navbar-toggle">
              <i class="material-icons">dehaze</i>
            </label>
          </div>
          <div class="col">
            <h1>
              <a href="javascript:;" class="text-white">
                CRAFTsMAN
              </a>
            </h1>
          </div>
          <div class="col text-right">
            <i class="material-icons">shopping_cart</i>
          </div>
        </div>
        </label>
      </header>
    </div>

    <%- contents %>

    <footer class="footer">
      footer
    </footer>
    <script src="../js/vendors.js"></script>
    <script src="../js/popper.js"></script>
  </body>
</html>
