<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/week6/all.css" />
  </head>

  <body>
    <!-- header -->
    <header class="header position-relative py-3 py-md-4">
      <div class="container">
        <div class="row align-items-center">
          <!-- 漢堡選單 -->
          <div class="col d-md-none">
            <label for="navbarToggle" class="navbar-toggle">
              <i class="material-icons">dehaze</i>
            </label>
          </div>
          <div class="col col-md-6">
            <h1 class="h1 mb-0">
              <a href="javascript:;" class="d-block">
                CRAFTsMAN
              </a>
            </h1>
          </div>
          <div class="shopping-cart col d-md-none">
            <i class="material-icons">shopping_cart</i>
          </div>
          <!-- 導覽選單 -->
          <div class="col-md-6">
            <input
              type="checkbox"
              id="navbarToggle"
              class="checkbox-navbar-toggle position-absolute"
            />
            <div class="navbar-menu pt-3 pt-md-0">
              <div class="container">
                <div class="row mb-3 d-md-none">
                  <div class="col">
                    <label for="navbarToggle">
                      <i class="material-icons">arrow_back</i>
                    </label>
                  </div>
                  <div class="col text-right">
                    <i class="material-icons">shopping_cart</i>
                  </div>
                </div>
                <ul class="menu-list d-md-flex justify-content-md-end align-items-md-center mb-md-0">
                  <li>
                    <input
                      type="checkbox"
                      id="navbarMenuProduct"
                      class="checkbox-navbar-product position-absolute"
                      checked
                    />
                    <label
                      for="navbarMenuProduct"
                      class="title d-flex justify-content-between py-3 py-md-0"
                    >
                      Product
                      <i class="material-icons d-md-none">keyboard_arrow_down</i>
                    </label>
                    <ul class="product-list d-md-none">
                      <li>
                        <a href="javascript:;" class="d-block pt-3"
                          >All<sup>24</sup></a
                        >
                      </li>
                      <li>
                        <a href="javascript:;" class="d-block pt-3"
                          >Bowl<sup>10</sup></a
                        >
                      </li>
                      <li>
                        <a href="javascript:;" class="d-block pt-3"
                          >Cup<sup>8</sup></a
                        >
                      </li>
                      <li>
                        <a href="javascript:;" class="d-block pt-3"
                          >Plate<sup>3</sup></a
                        >
                      </li>
                      <li>
                        <a href="javascript:;" class="d-block py-3"
                          >Vase<sup>3</sup></a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="ml-md-7"><a href="javascript:;" class="title d-block py-3 py-md-0">Blog</a></li>
                  <li class="ml-md-7">
                    <a href="javascript:;" class="title d-block py-3 py-md-0">Contact</a>
                  </li>
                  <li class="d-none d-md-block ml-md-7 text-white">
                    <i class="material-icons">shopping_cart</i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <%- contents %>

    <footer class="footer">
      <!-- 訂閱 -->
      <div class="subscribe py-4">
        <div class="container">
          <p class="text-white font-weight-bold mb-4 mb-md-7">
            Subscribe for news <br> and special offers!
          </p>
          <form class="row position-relative">
            <div class="col-9">
              <input
              type="email"
              class="form-control bg-transparent font-weight-bold"
              id="subscribeEmail"
              aria-describedby="emailHelp"
              placeholder="Your email address"
            />
            </div>
            <input type="submit" class="btn btn-primary font-weight-bold" value="Subscribe"></input>
          </form>
        </div>
      </div>
      <div class="footer-list py-4">
        <div class="container">
          <h1 class="h1 mb-6">
            <a href="javascript:;" class="text-white">
              CRAFTsMAN
            </a>
          </h1>
          <!-- 聲明 -->
          <ul class="statement mb-6">
            <li><a href="javascript:;" class="d-block py-2">Purchase Policy</a></li>
            <li><a href="javascript:;" class="d-block py-2">Privacy Policy</a></li>
            <li><a href="javascript:;" class="d-block py-2">Terms & Conditions</a></li>
          </ul>
          <div class="copyright">
            © 2020. All Rights Reserved.
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/vendors.js"></script>
    <script src="../js/week6/all.js"></script>
  </body>
</html>
