<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/week6/all.css" />
  </head>

  <body>
    <!-- 頁首 -->
    <header class="header position-relative py-3 py-md-4">
      <div class="container">
        <div class="row align-items-center">
          <!-- 漢堡選單 -->
          <div class="col d-md-none">
            <label for="navbarToggle" class="navbar-toggle">
              <i class="material-icons">dehaze</i>
            </label>
          </div>
          <!-- logo -->
          <div class="col col-md-6">
            <h1 class="h1 mb-0">
              <a href="index.html" class="d-block">
                Craftsman
              </a>
            </h1>
          </div>
          <!-- 購物車圖示-->
          <div class="shopping-cart col d-md-none">
            <i class="material-icons">shopping_cart</i>
          </div>
          <!-- 導覽選單 -->
          <div class="col-md-6">
            <input
              type="checkbox"
              id="navbarToggle"
              class="checkbox-navbar-toggle position-absolute"
            />
            <div class="navbar-menu pt-3 pt-md-0">
              <div class="container">
                <div class="row mb-3 d-md-none">
                  <!-- 返回圖示 -->
                  <div class="col">
                    <label for="navbarToggle">
                      <i class="material-icons">arrow_back</i>
                    </label>
                  </div>
                  <!-- 購物車圖示 -->
                  <div class="col text-right">
                    <i class="material-icons">shopping_cart</i>
                  </div>
                </div>
                <!-- 導覽列表 -->
                <ul class="menu-list d-md-flex justify-content-md-end align-items-md-center mb-md-0">
                  <li>
                    <input
                      type="checkbox"
                      id="navbarMenuProduct"
                      class="checkbox-navbar-product position-absolute"
                      checked
                    />
                    <a href="product.html" class="title d-none d-md-block" data-navbar-menu="product">
                      Product
                    </a>
                    <label
                      for="navbarMenuProduct"
                      class="title d-flex d-md-none justify-content-between py-3 py-md-0"
                      data-navbar-menu="product"
                    >
                      Product
                      <i class="material-icons d-md-none">keyboard_arrow_down</i>
                    </label>
                    <!-- 產品類別列表 -->
                    <ul class="product-list d-md-none">
                      <li>
                        <a href="product.html" class="d-block pt-3"
                        data-navbar-product-list="all"
                          >All<sup>24</sup></a
                        >
                      </li>
                      <li>
                        <a href="product.html" class="d-block pt-3"
                        data-navbar-product-list="bowl"
                          >Bowl<sup>10</sup></a
                        >
                      </li>
                      <li>
                        <a href="product.html" class="d-block pt-3"
                        data-navbar-product-list="cup"
                          >Cup<sup>8</sup></a
                        >
                      </li>
                      <li>
                        <a href="product.html" class="d-block pt-3"
                        data-navbar-product-list="plate"
                          >Plate<sup>3</sup></a
                        >
                      </li>
                      <li>
                        <a href="product.html" class="d-block py-3"
                        data-navbar-product-list="vase"
                          >Vase<sup>3</sup></a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="ml-md-7"><a href="javascript:;" class="title d-block py-3 py-md-0" data-navbar-menu="blog">Blog</a></li>
                  <li class="ml-md-7">
                    <a href="javascript:;" class="title d-block py-3 py-md-0" data-navbar-menu="contact">Contact</a>
                  </li>
                  <li class="d-none d-md-block ml-md-7 text-white">
                    <i class="material-icons">shopping_cart</i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <%- contents %>

    <!-- 頁尾 -->
    <footer class="footer">
      <!-- 訂閱區塊 -->
      <div class="subscribe">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-5">
              <p class="text-white font-weight-bold mb-4 mb-md-7">
                Subscribe for news <br> and special offers!
              </p>
              <form class="position-relative">
                <input
                  type="email"
                  class="form-control w-100 bg-transparent font-weight-bold"
                  id="subscribeEmail"
                  aria-describedby="emailHelp"
                  placeholder="Your email address"
                />
                <input type="submit" class="btn btn-primary font-weight-bold" value="Subscribe"></input>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 列表區塊 -->
      <div class="footer-list py-4 py-md-5">
        <div class="container align-items-md-center">
          <div class="row">
            <div class="col-12 col-md-4 d-md-flex align-items-md-center mb-7 mb-md-0">
              <h1 class="h1 mb-0 mr-md-3">
                <a href="index.html" class="text-white">
                  Craftsman
                </a>
              </h1>
              <div class="copyright d-none d-md-block">
                © 2020. All Rights Reserved.
              </div>
            </div>
            <div class="col-12 col-md-5 offset-md-3">
              <!-- 聲明 -->
              <ul class="statement d-md-flex justify-content-md-end align-items-md-center mb-7 mb-md-0">
                <li class="mb-3 mb-md-0 mr-md-7"><a href="javascript:;" class="d-block">Purchase Policy</a></li>
                <li class="mb-3 mb-md-0 mr-md-7"><a href="javascript:;" class="d-block">Privacy Policy</a></li>
                <li><a href="javascript:;" class="d-block">Terms & Conditions</a></li>
              </ul>
              <div class="copyright d-md-none">
                © 2020. All Rights Reserved.
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/vendors.js"></script>
    <script src="../js/week6/all.js"></script>
  </body>
</html>
