/* 變數
-------------------------------------------------- */

// color
$primary: #edf4ee;
$secondary: #2a8356;
$custom-green: #cdddcd;
$custom-gray-100: #00000062;
$custom-gray-200: #707070;
$custom-gray-300: #0000009a;
$pink: #e3006e;
