---
title: 首頁
layout: ./app/layouts/week7/layout.ejs
engine: ejs
current: index
---

<main class="index">
  <!-- banner -->
  <section class="banner position-relative">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-6">
          <h2 class="mb-7 font-italic font-weight-bolder">
            Single Speed, Single Life.
          </h2>
          <p class="mb-7 text-custom-gray">
            More recently the “fixie” has become a popular alternative among
            mainly urban cyclists, offering the advantage of simplicity compared
            with the standard multi-geared bicycle.
          </p>
          <a
            href="javascript:;"
            class="btn btn-secondary font-weight-bold border-custom-black"
            >Shop now</a
          >
        </div>
      </div>
    </div>
    <div class="customCarousel position-absolute">
      <div class="customCarousel__image">
        <img
          src="../assets/images/week7/josh-nuttall-pIwu5XNvXpk-unsplash.jpg"
          alt="carousel-photo"
        />
      </div>
      <div class="d-flex">
        <!-- 上一個 -->
        <a
          href="javscript:;"
          class="d-flex justify-content-center align-items-center border border-right-0 border-custom-black"
        >
          <i class="material-icons">keyboard_arrow_left</i>
        </a>
        <!-- 下一個 -->
        <a
          href="javscript:;"
          class="d-flex justify-content-center align-items-center border border-custom-black"
        >
          <i class="material-icons">keyboard_arrow_right</i>
        </a>
        <!-- 名稱 -->
        <a
          href="javscript:;"
          class="d-block font-italic font-weight-bolder border border-left-0 border-custom-black"
        >
          Collection 001-xx
        </a>
      </div>
    </div>
  </section>
  <!-- 介紹 -->
  <section class="introduce mb-13">
    <ul class="pl-0">
      <li class="introduce__item position-relative d-flex bg-secondary">
        <div class="w-50">
          <img
            src="../assets/images/week7/josh-nuttall-uNQ-TTg_qNY-unsplash.jpg"
            alt="introduce-photo"
          />
        </div>
        <div
          class="introduce__content w-50 d-flex flex-column justify-content-between"
        >
          <p class="text-custom-gray">
            A fixed gear drivetrain is more mechanically efficient than any
            other bicycle drivetrain, with the most direct power transfer from
            rider to the wheels. Thus, it requires less energy in any given gear
            to move than a geared bike in the same gear.
          </p>
          <div class="pr-13 text-right">
            <h2 class="mb-4 font-weight-bolder font-italic">One Gear,</h2>
            <h2 class="mb-0 font-weight-bolder font-italic">Many Variations</h2>
          </div>
        </div>
        <a href="javascript:;" class="btn position-absolute p-0">
          <span class="p-3 font-weight-bold bg-white">Read More</span>
          <i class="material-icons text-white bg-custom-black">arrow_forward</i>
        </a>
      </li>
      <li
        class="introduce__item position-relative d-flex flex-row-reverse bg-secondary"
      >
        <div class="w-50">
          <img
            src="../assets/images/week7/josh-nuttall-76DfCHM-4u0-unsplash.jpg"
            alt="introduce-photo"
          />
        </div>
        <div
          class="introduce__content w-50 d-flex flex-column justify-content-between flex-column-reverse"
        >
          <p class="align-self-end mb-0 text-right text-custom-gray">
            Without the added parts required for a fully geared drive
            train—derailleurs, shifters, cables, cable carriers, multiple chain
            rings, freewheel hub, brazed-on mounting lugs—a fixed gear bicycle
            weighs less than its geared equivalent.
          </p>
          <div class="pl-13">
            <h2 class="mb-4 font-weight-bolder font-italic">Stripped-Down</h2>
            <h2 class="mb-0 font-weight-bolder font-italic">Performance</h2>
          </div>
        </div>
        <a href="javascript:;" class="btn position-absolute p-0">
          <span class="p-3 font-weight-bold text-white bg-custom-black"
            >Read More</span
          >
          <i class="material-icons bg-white">arrow_forward</i>
        </a>
      </li>
    </ul>
  </section>
  <!-- 收集 -->
  <section class="collection mb-13">
    <div class="mb-13">
      <h2
        class="collection__title m-auto pb-4 text-center font-weight-bolder font-italic"
      >
        A collection built for regular commuters
      </h2>
      <p class="collection__content m-auto text-center text-custom-gray">
        Riders unknown to each other commonly greet each other when on bikes. As
        in many subcultures, this feeling of belonging is a key factor in
        recruiting and retaining participants.
      </p>
    </div>
    <div class="collection__rider d-flex">
      <div class="container d-flex align-items-end h-100">
        <div class="collection__rider__content p-3 bg-white">
          <p class="mb-3 font-weight-bolder font-italic">
            “I like to ride. Fixed gear. No brakes. <br />
            Can’t stop. Don’t want to, either.”
          </p>
          <div class="text-custom-gray">
            <span class="font-italic">Premium Rush</span>
            (2012)
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 文章 -->
  <section class="articles mb-13">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="mb-4">
            <img
              src="../assets/images/week7/benedikt-geyer-KoMiEAaFLsE-unsplash.jpg"
              alt="article-photo"
            />
          </div>
          <h2 class="mb-3 font-weight-bolder font-italic">
            All who cycle are my friends
          </h2>
          <small class="d-block mb-3 text-custom-gray">2020.4.27</small>
          <p class="mb-0 text-custom-gray">
            A rider from Stockholm interviewed for an article about the
            phenomenon notes that riding a bike imparts a feeling of freedom to
            the rider…
          </p>
        </div>
        <div class="col-4">
          <div class="mb-4">
            <img
              src="../assets/images/week7/janusz-maniak-VqwaNLsGqcs-unsplash.jpg"
              alt="article-photo"
            />
          </div>
          <h2 class="mb-3 font-weight-bolder font-italic">
            Swedish riders and enthusiasts
          </h2>
          <small class="d-block mb-3 text-custom-gray">2020.3.11</small>
          <p class="mb-0 text-custom-gray">
            There are also several bicycle clubs throughout Sweden with a
            fixed-gear niche. Komet Club Rouler is a club based in Gothenburg,
            annually arranging Svart Kat…
          </p>
        </div>
        <div class="col-4">
          <div class="mb-4">
            <img
              src="../assets/images/week7/yerko-lucic-eiie8Sduf4I-unsplash.jpg"
              alt="article-photo"
            />
          </div>
          <h2 class="mb-3 font-weight-bolder font-italic">
            The Australian fixie culture
          </h2>
          <small class="d-block mb-3 text-custom-gray">2020.2.29</small>
          <p class="mb-0 text-custom-gray">
            Online stores in Australia ship partially-assembled bikes directly
            to consumers, considerably undercutting prices at typical brick and
            mortar stores…
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
