---
title: 常見問題
layout: ./app/layouts/glasses/layout.ejs
engine: ejs
current: index
---

<div class="page-banner d-flex">
  <div class="container d-flex">
    <h2 class="text-medium">常見問題</h2>
    <img
      class="d-sm"
      src="../assets/images/glasses/mobile/issue/help-circle-sharp.svg"
      alt="title-icon"
    />
    <img
      class="d-md"
      src="../assets/images/glasses/pad/issue/help-circle-sharp.svg"
      alt="title-icon"
    />
    <img
      class="d-lg"
      src="../assets/images/glasses/desktop/issue/help-circle-sharp.svg"
      alt="title-icon"
    />
  </div>
</div>

<main class="issue">
  <section class="container">
    <h2 class="text-medium">我想詢問配鏡問題</h2>
    <ul class="issue-list">
      <li>
        <input type="checkbox" id="q1" />
        <label for="q1" class="d-flex text-medium">
          Q1.請問可否自備鏡框單配鏡片？
          <img
            class="d-sm"
            src="../assets/images/glasses/mobile/issue/ic_keyboard_arrow_down_24px.svg"
            alt="arrow"
          />
          <img
            class="d-md"
            src="../assets/images/glasses/pad/issue/ic_keyboard_arrow_up_24px.svg"
            alt="arrow"
          />
          <img
            class="d-lg"
            src="../assets/images/glasses/desktop/issue/ic_keyboard_arrow_up_24px.svg"
            alt="arrow"
          />
        </label>
        <div class="issue-item-content">
          <div class="d-sm">
            <p>
              A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </div>
          <div class="d-md">
            <p>
              A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" id="q2" checked />
        <label for="q2" class="d-flex text-medium">
          Q2.眼鏡都可以20分鐘取件嗎？
          <img
            class="d-sm"
            src="../assets/images/glasses/mobile/issue/ic_keyboard_arrow_down_24px.svg"
            alt="arrow"
          />
          <img
            class="d-md"
            src="../assets/images/glasses/pad/issue/ic_keyboard_arrow_up_24px.svg"
            alt="arrow"
          />
          <img
            class="d-lg"
            src="../assets/images/glasses/desktop/issue/ic_keyboard_arrow_up_24px.svg"
            alt="arrow"
          />
        </label>
        <div class="issue-item-content">
          <div class="d-sm">
            <p>
              A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </div>
          <div class="d-md">
            <p>
              A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" id="q3" />
        <label for="q3" class="d-flex text-medium">
          Q3.散光鏡片需要額外加價嗎？
          <img
            class="d-sm"
            src="../assets/images/glasses/mobile/issue/ic_keyboard_arrow_down_24px.svg"
            alt="arrow"
          />
          <img
            class="d-md"
            src="../assets/images/glasses/pad/issue/ic_keyboard_arrow_up_24px.svg"
            alt="arrow"
          />
          <img
            class="d-lg"
            src="../assets/images/glasses/desktop/issue/ic_keyboard_arrow_up_24px.svg"
            alt="arrow"
          />
        </label>
        <div class="issue-item-content">
          <div class="d-sm">
            <p>
              A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </div>
          <div class="d-md">
            <p>
              A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" id="q4" />
        <label for="q4" class="d-flex text-medium">
          Q4.我可以使用舊眼鏡的度數配鏡片嗎？
          <img
            class="d-sm"
            src="../assets/images/glasses/mobile/issue/ic_keyboard_arrow_down_24px.svg"
            alt="arrow"
          />
          <img
            class="d-md"
            src="../assets/images/glasses/pad/issue/ic_keyboard_arrow_up_24px.svg"
            alt="arrow"
          />
          <img
            class="d-lg"
            src="../assets/images/glasses/desktop/issue/ic_keyboard_arrow_up_24px.svg"
            alt="arrow"
          />
        </label>
        <div class="issue-item-content">
          <div class="d-sm">
            <p>
              A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </div>
          <div class="d-md">
            <p>
              A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" id="q5" />
        <label for="q5" class="d-flex text-medium">
          Q5.請問可以單購買鏡框嗎？
          <img
            class="d-sm"
            src="../assets/images/glasses/mobile/issue/ic_keyboard_arrow_down_24px.svg"
            alt="arrow"
          />
          <img
            class="d-md"
            src="../assets/images/glasses/pad/issue/ic_keyboard_arrow_up_24px.svg"
            alt="arrow"
          />
          <img
            class="d-lg"
            src="../assets/images/glasses/desktop/issue/ic_keyboard_arrow_up_24px.svg"
            alt="arrow"
          />
        </label>
        <div class="issue-item-content">
          <div class="d-sm">
            <p>
              A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </div>
          <div class="d-md">
            <p>
              A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
            <p>
              他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>
