/* 太陽眼鏡
-------------------------------------------------- */

// 眼鏡商品列表
.sunglasses {
  .glasses-list {
    li {
      @include pcStyle {
        width: 29%;
      }
      &:nth-child(n + 4) {
        @include pcStyle {
          margin-bottom: 9.75rem;
        }
      }
      &:nth-child(n + 7) {
        @include pcStyle {
          display: none;
        }
      }
    }
    .glasses-item-content {
      @include pcStyle {
        flex-direction: column;
      }
      .price {
        @include pcStyle {
          margin-bottom: 4px;
          text-align: left;
        }
      }
      .colors {
        a {
          @include pcStyle {
            width: 18px;
            height: 19px;
          }
        }
      }
    }
  }
  .pagination {
    @include pcStyle {
      display: none;
    }
  }
}
