<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="../style/week5/all.css" />
  </head>

  <body>
    <header class="header">
      這是 header
    </header>

    <%- contents %>

    <footer class="footer">
      footer
    </footer>
    <script src="../js/vendor.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/week5/all.js"></script>
  </body>
</html>
