/* footer
-------------------------------------------------- */

.footer {
  // 訂閱區塊
  .subscribe {
    background: url('../../assets/images/week6/tom-crew-uDF1mW7EUwM-unsplash.jpg')
      center / cover no-repeat;
    padding: 1.5rem 0;
    @include media-breakpoint-up(md) {
      padding: 84px 0;
    }
    p {
      font-size: 2rem;
      line-height: 3rem;
      @include media-breakpoint-up(md) {
        font-size: 3rem;
        line-height: 4rem;
      }
    }
    form {
      input {
        line-height: $headings-line-height;
      }
      input[type='email'] {
        padding: 18px 1rem;
        height: auto;
        border-color: $custom-gray-200;
        color: $custom-gray-200;
        &::placeholder {
          color: $custom-gray-200;
          font-weight: $font-weight-normal;
        }
      }
      input[type='submit'] {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 18px 1.5rem;
        line-height: $headings-line-height;
        @include media-breakpoint-up(md) {
          padding: 20px 44px 17px;
        }
      }
    }
  }

  // 列表區塊
  .footer-list {
    background-color: $custom-gray-600;
    // 聲明
    .statement a,
    .copyright {
      font-size: 14px;
      line-height: 1rem;
      color: $custom-gray-100;
    }
    .statement a {
      @include media-breakpoint-up(md) {
        line-height: 28px;
      }
    }
    .copyright {
      color: $custom-gray-200;
    }
  }
}

// 結帳頁
.checkout-footer {
  a {
    line-height: 1rem;
    color: $custom-gray-500;
  }
}
