/* header
-------------------------------------------------- */

.header {
  input[type='checkbox'] {
    opacity: 0;
    z-index: -1;
  }
  h1 {
    font-size: 24px;
    line-height: 29px;
    font-family: $font-family-raleway;
  }
  .menu {
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -100%;
    transition: all 0.3s;
    .menu-list {
      .title {
        font-size: 24px;
        line-height: 28px;
      }
      > li {
        border-bottom: 1px solid $custom-gray-400;
      }
      a {
        color: $dark;
      }
    }
    .product-list {
      height: 0;
      overflow: hidden;
      transition: all 0.3s;
      a {
        font-size: 1rem;
        line-height: 19px;
        color: $custom-gray-500;
      }
      small {
        font-size: 8px;
        vertical-align: text-top;
      }
    }
  }
  .checkbox-navbar-toggle:checked ~ .menu {
    left: 0;
  }
  .checkbox-navbar-menu-product:checked ~ .product-list {
    height: auto;
    border-top: 1px solid $custom-gray-400;
  }
  .checkbox-navbar-menu-product:checked ~ .title .material-icons {
    transform: rotate(180deg);
  }
}
