/* header
-------------------------------------------------- */

.header {
  background-color: transparent;
  color: $white;
  z-index: 1;
  input[type='checkbox'] {
    opacity: 0;
    z-index: -1;
  }
  .shopping-cart {
    text-align: right;
  }

  // 導覽列
  .navbar-menu {
    position: absolute;
    top: -44px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $white;
    color: $custom-gray-600;
    z-index: 1;
    transform: translateX(-130%);
    transition: all 0.3s;
    @include media-breakpoint-up(md) {
      position: relative;
      top: 0;
      background-color: transparent;
      transform: translateX(0);
    }
    // 導覽列表
    .menu-list {
      @include media-breakpoint-up(md) {
        margin-right: -15px;
      }
      .title {
        font-size: 24px;
        line-height: 28px;
        color: $custom-gray-600;
        cursor: pointer;
        @include media-breakpoint-up(md) {
          font-size: $font-size-base;
          line-height: $headings-line-height;
          color: $white;
        }
      }
      > li {
        border-bottom: 1px solid $custom-gray-400;
        @include media-breakpoint-up(md) {
          border-bottom: none;
        }
      }
      a {
        color: $custom-gray-600;
      }
    }
    // 產品類別列表
    .product-list {
      height: 0;
      overflow: hidden;
      a {
        line-height: $headings-line-height;
        color: $custom-gray-500;
      }
    }
  }
  .checkbox-navbar-toggle:checked ~ .navbar-menu {
    transform: translateX(0);
  }
  .checkbox-navbar-product:checked {
    & ~ .product-list {
      height: auto;
      border-top: 1px solid $custom-gray-400;
    }
    & ~ .title .material-icons {
      transform: rotate(180deg);
    }
  }
}

// 結帳頁
.checkout-header {
  .h1 {
    a {
      color: $custom-gray-600;
    }
  }
}
